/* Variables and Mixins */
$body-font: 'Source Sans Pro', sans-serif;
$head-font: 'Montserrat', sans-serif;

/* Variables */

//Reds (brighter to darker)

//Oranges (more red to more yellow)
$sunset: #C06014;
$sunrise: #FBA100;

//Yellows (lighter to vomit)
$light :#EFD9C1;
$highlighter: #FFDF00;

//Greens (yellower to darker)
$lightspotify: #90D65E;
$limefrog: #ABDB48;
$greengreen: #63CF41;
$navygreen: #47801E;
$spotify1: #80CA50;

//Blues (lighter to darker)
$bluetopaz: #67AECA;
$aqua: #6BBAA7;
$vermillion: #333A56;

//Purples (lighter to darker)
$dustyrose: #B6A19E;
$lavender: #6C648B;
$jewel: #5F0F4E;
$amethyst: #675682;

//Pinks (lighter to darker)
$rose: #E52A6F;

//Greys (lighter to darker)
$fresh: #F7F5E6;
$clean: #E8E8E8;
$granite: #2D2D2D;

//Brown
$lightsoil: #6E523F;
$soil: #4D3C2F;

/* Mixins */
@mixin gradient-tl-br($c1, $c2){
    background: -webkit-linear-gradient(left top, $c1, $c2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $c1, $c2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $c1, $c2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $c1, $c2); /* Standard syntax */
}

@mixin gradient-tr-bl($c1, $c2){
    background: -webkit-linear-gradient(right top, $c1, $c2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, $c1, $c2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, $c1, $c2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, $c1, $c2); /* Standard syntax */
}

/* Keyframes */
@keyframes fadein {
    0% {opacity: 0;
        text-shadow: none;}
    100% {opacity: 1;
          text-shadow:
            -1px -1px 3px #000,
            1px -1px 3px #000,
            -1px 1px 3px #000,
            1px 1px 3px #000;}
}

/* Element specific */
body {
    font-family: $body-font;
    color: $granite;
    background-color: $spotify1;
}

h1, h2, h3 {
    font-family: "Montserrat";
    font-weight: bold;
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 30px;
}


h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

@media (max-width: 639px) {
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.6em;
    }
}

a {
    text-decoration: none;
    color: $sunrise;
}

a:visited {
    color: $sunset;
}

.underline {
    height: 2px;
    background-color: #333;
    width: 60%;
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 15px;
}


/* Covertron */
#covertron {
    height: 85vh;
    width: 100%;
    background-image: url(../resources/images/covertronblur.jpg);
    margin-bottom: 30px;
    
    #covertron-filter {
        height: 85vh;
        width: 100%;
        background-color: rgba(71, 128, 30, 0.4);
        display: flex;
    }
    
    @media (max-width: 639px) {
        #covertron-text {
            margin: 20% 0;   
            text-shadow:
                -1px -1px 3px #000,
                1px -1px 3px #000,
                -1px 1px 3px #000,
                1px 1px 3px #000;
        
            p {
                display: none;
            }
            
            h1, h2 {
                color: $clean;
                animation-name: fadein;
                animation-duration: 2s;
            }
        }
    }
    
    @media (min-width: 640px) {
        #covertron-text {
            margin: auto;
            align-self: center;
            animation-name: fadein;
            animation-duration: 2s;
            width: 50%;
            color: $clean;
            text-shadow:
                -1px -1px 3px #000,
                1px -1px 3px #000,
                -1px 1px 3px #000,
                1px 1px 3px #000;

            p {
                font-size: 1.4em;
                line-height: 1.55em;
                text-align: center;
                padding: 30px 5%;
                margin: 0 10%;
                animation-name: fadein;
                animation-duration: 2s;
            }
            h1, h2 {
                color: $clean;
                animation-name: fadein;
                animation-duration: 2s;
            }
        }
    }
}

/* Main body */
.nav-under {
    width: 0px;
    height: 2px;
    background-color: $spotify1;
    margin: auto;
    margin-top: 5px;
}

#page-head {
    font-family: $head-font;
    color: #FFF;
    background-color: $granite;
    display: flex;
    
    #page-title {
        color: $clean;
    }
    
    @media (max-width: 639px) {
        #page-title {
            display: none;
        }
    }
    
    #logo {
        margin: auto;
        padding: 0 10px;
    }
    
    .head-logo {
        margin: auto;
        align-self: center;
        height: 70px;
    }
    
    nav {
        flex-grow: 1;
        font-size: 1.3em;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        #navbar {
            flex-grow: 1;
            margin: 0px 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            li {
                padding: 0 10px;
            }
            
            a {
                color: $clean;
                width: auto;
            }
            
            li:hover > .nav-under{
                transition: width 0.5s;
                width: 100%;
            }
            
            .active {
                color: $spotify1;
            }
        }
    }
    
}

#main-body {
    p {
        padding: 30px 0px;
        font-size: 1.2em;
    }
    
    .info-cont {
        margin: 0px;
        display: flex;
        border-radius: 15px;
        background-color: #B2ED87;
        padding: 4%;
        margin-bottom: 30px;
        opacity: 0;
        
        .info-cont-text {
            padding: 0px 5%;
            width: 70%;
            
            p {
                line-height: 1.4em;
            }
        }
        
        .info-cont-img {
            width: 20%;
            display: flex;
            img {
                width: 100%;
                align-self: center;
            }
        }
    }
    
    @media (max-width: 639px) {
        .info-cont {
            padding: 4% 0;
            .info-cont-text {
                width: 100%;
            }
            
            .info-cont-img {
                width: 50%;
                margin: auto;
            }
        }
        
        .slide-right {
            flex-wrap: wrap;
        }
        
        .slide-left {
            flex-wrap: wrap-reverse;
        }
    }
    
    @media (min-width: 640px) {
        .slide-right {
            margin-left: 15%;
            margin-right: 25%;
        }

        .slide-left {
            margin-left: 25%;
            margin-right: 15%;
        }
    }
}

#body-container {
}

#page-foot {
    background-color: $granite;
    #footer-links {
        ul {
            padding: 20px 30% 10px 30%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            li {
                padding: 0 5px;
            }
            a {
                color: $clean;
                font-size: 1.1em;
            }
        }
    }
    #footer-co {
        color: $clean;
        text-align: center;
        padding-bottom: 10px;
    }
}