/* Variables and Mixins */
/* Variables */
/* Mixins */
/* Keyframes */
@keyframes fadein {
  0% {
    opacity: 0;
    text-shadow: none; }
  100% {
    opacity: 1;
    text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000; } }
/* Element specific */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #2D2D2D;
  background-color: #80CA50; }

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #000000;
  text-align: center; }

h1 {
  font-size: 3em;
  padding: 30px; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

@media (max-width: 639px) {
  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.6em; } }
a {
  text-decoration: none;
  color: #FBA100; }

a:visited {
  color: #C06014; }

.underline {
  height: 2px;
  background-color: #333;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px; }

/* Covertron */
#covertron {
  height: 85vh;
  width: 100%;
  background-image: url(../resources/images/covertronblur.jpg);
  margin-bottom: 30px; }
  #covertron #covertron-filter {
    height: 85vh;
    width: 100%;
    background-color: rgba(71, 128, 30, 0.4);
    display: flex; }
  @media (max-width: 639px) {
    #covertron #covertron-text {
      margin: 20% 0;
      text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000; }
      #covertron #covertron-text p {
        display: none; }
      #covertron #covertron-text h1, #covertron #covertron-text h2 {
        color: #E8E8E8;
        animation-name: fadein;
        animation-duration: 2s; } }
  @media (min-width: 640px) {
    #covertron #covertron-text {
      margin: auto;
      align-self: center;
      animation-name: fadein;
      animation-duration: 2s;
      width: 50%;
      color: #E8E8E8;
      text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000; }
      #covertron #covertron-text p {
        font-size: 1.4em;
        line-height: 1.55em;
        text-align: center;
        padding: 30px 5%;
        margin: 0 10%;
        animation-name: fadein;
        animation-duration: 2s; }
      #covertron #covertron-text h1, #covertron #covertron-text h2 {
        color: #E8E8E8;
        animation-name: fadein;
        animation-duration: 2s; } }

/* Main body */
.nav-under {
  width: 0px;
  height: 2px;
  background-color: #80CA50;
  margin: auto;
  margin-top: 5px; }

#page-head {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  background-color: #2D2D2D;
  display: flex; }
  #page-head #page-title {
    color: #E8E8E8; }
  @media (max-width: 639px) {
    #page-head #page-title {
      display: none; } }
  #page-head #logo {
    margin: auto;
    padding: 0 10px; }
  #page-head .head-logo {
    margin: auto;
    align-self: center;
    height: 70px; }
  #page-head nav {
    flex-grow: 1;
    font-size: 1.3em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #page-head nav #navbar {
      flex-grow: 1;
      margin: 0px 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      #page-head nav #navbar li {
        padding: 0 10px; }
      #page-head nav #navbar a {
        color: #E8E8E8;
        width: auto; }
      #page-head nav #navbar li:hover > .nav-under {
        transition: width 0.5s;
        width: 100%; }
      #page-head nav #navbar .active {
        color: #80CA50; }

#main-body p {
  padding: 30px 0px;
  font-size: 1.2em; }
#main-body .info-cont {
  margin: 0px;
  display: flex;
  border-radius: 15px;
  background-color: #B2ED87;
  padding: 4%;
  margin-bottom: 30px; }
  #main-body .info-cont .info-cont-text {
    padding: 0px 5%;
    width: 70%; }
    #main-body .info-cont .info-cont-text p {
      line-height: 1.4em; }
  #main-body .info-cont .info-cont-img {
    width: 20%;
    display: flex; }
    #main-body .info-cont .info-cont-img img {
      width: 100%;
      align-self: center; }
@media (max-width: 639px) {
  #main-body .info-cont {
    padding: 4% 0; }
    #main-body .info-cont .info-cont-text {
      width: 100%; }
    #main-body .info-cont .info-cont-img {
      width: 50%;
      margin: auto; }
  #main-body .slide-right {
    flex-wrap: wrap; }
  #main-body .slide-left {
    flex-wrap: wrap-reverse; } }

#page-foot {
  background-color: #2D2D2D; }
  #page-foot #footer-links ul {
    padding: 20px 30% 10px 30%;
    list-style: none;
    display: flex;
    justify-content: space-around; }
    #page-foot #footer-links ul li {
      padding: 0 5px; }
    #page-foot #footer-links ul a {
      color: #E8E8E8;
      font-size: 1.1em; }
  #page-foot #footer-co {
    color: #E8E8E8;
    text-align: center;
    padding-bottom: 10px; }

/*# sourceMappingURL=bonsai-style.css.map */
